@import "~antd/dist/antd.css";
.myShop {
  border: solid;
  border-color: rgb(94, 164, 58);
  width: 918px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 4px;
  font-size: 22px;
  padding: 6px;
  font-family: monospace;
  display: table;
}

.header {
  width: 450px;
  height: 41px;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 11px;
  margin-left: 211px;
  border: solid;
  border-color: rgb(207, 36, 35);
  display: inherit;
}
.products {
  border: solid;
  border-color: rgb(255, 136, 0);
  width: 450px;
  height: 471px;
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  float: right;
  overflow: auto;
}
.crat {
  border: solid;
  border-color: rgb(255, 216, 98);
  width: 174px;
  height: 435px;
  padding-left: 20px;
  padding-top: 20px;
  float: right;
  margin-right: 11px;
  overflow: auto;
}
.menu {
  width: 265px;
  float: left;
}
.menuTitle {
  border: solid;
  border-color: rgb(14, 241, 230);
  text-align: center;
}
.search {
  padding-bottom: 9px;
}

.product {
  text-align: center;
  margin: 4px;
  height: 168px;
  width: 118px;
  float: right;
  padding: 9px;
  border: solid;
  border-color: rgb(0, 0, 255);
  font-size: 15px;
}
.cartProduct {
  text-align: center;
  margin: 4px;
  height: 115px;
  width: 127px;
  float: right;
  padding-top: 5px;
  border: solid;
  border-color: rgb(0, 0, 255);
  font-size: 11px;
  margin-right: 12px;
}
.product img,
.cartProduct img {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
}
.product button {
  width: 20px;
  height: 20px;
  padding: 0px !important;
  color: black;
  font-size: initial;
  font-family: inherit;
}

.cartProduct button {
  width: 119px;
  height: 20px;
  padding: 0px !important;
  color: black;
}

.productPag {
  background-color: bisque;
}
.productPag img {
  width: 300px;
  height: 300px;
}

.productPagTitle {
  font-family: fantasy;
  text-align: center;
  font-size: 41px;
  padding-top: 44px;
}
