.App {
  border: solid;
  border-color: rgb(94, 164, 58);
  margin: auto;
  margin-top: 5px;
  margin-bottom: 4px;
  font-size: 22px;
  padding: 6px;
  font-family: monospace;
  display: table;
}

.Header {
  width: 450px;
  height: 41px;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 11px;
  margin-left: 211px;
  border: solid;
  border-color: rgb(207, 36, 35);
}
.Products {
  border: solid;
  border-color: rgb(255, 136, 0);
  width: 450px;
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  float: right;
}
.crat {
  border: solid;
  border-color: rgb(255, 216, 98);
  width: 174px;
  height: 435px;
  padding-left: 20px;
  padding-top: 20px;
  float: left;
  margin-right: 11px;
  overflow: auto;
}

.Product {
  text-align: center;
  margin: 4px;
  height: 168px;
  width: 118px;
  float: right;
  padding: 9px;
  border: solid;
  border-color: rgb(0, 0, 255);
  font-size: 15px;
}
.CartProduct {
  text-align: center;
  margin: 4px;
  height: 140px;
  width: 127px;
  float: right;
  padding: 9px;
  border: solid;
  border-color: rgb(0, 0, 255);
  font-size: 12px;
  margin-right: 12px;
}
img {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
}

.productPag {
  background-color: bisque;
}
.productPag img {
  width: 300px;
  height: 300px;
}

.productPagTitle {
  font-family: fantasy;
  text-align: center;
  font-size: 41px;
  padding-top: 44px;
}
