.App {
  position: relative;
  border: solid;
  border-color: rgb(94, 164, 58);
  width: 461px;
  height: 650px;
  margin: auto;
  font-size: 22px;
  padding: 13px;
  font-family: monospace;
}
.Header {
  border: dashed;
  width: 438px;
  height: 41px;
  padding-left: inherit;
  padding-top: 8px;
  margin: 11px;
  margin-left: 7px;
  border: solid;
  border-color: rgb(207, 36, 35);
}
.Cont {
  border: solid;
  border-color: rgb(255, 136, 0);
  width: 70px;
  height: 50px;
}
.Prodeucts {
  border: solid;
  border-color: rgb(255, 136, 0);
  width: 459px;
  height: 547px;
}
.Prodeuct {
  margin: 7px;
  height: 173px;
  width: 119px;
  float: right;
  padding: 7px;
  border: solid;
  border-color: rgb(0, 0, 255);
  font-size: 15px;
}
img {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
}
/* .Perent {
    position: absolute;
    width: 650px;
    height: 400px;
    background-color: teal;
  } */
